{% load static %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GenesisQ - {% block titulo %} {% endblock titulo %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- servidor icones -->
    <script src="https://kit.fontawesome.com/73beefb8cc.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}" />

    <!-- imagem de background-->
    <style>
        body {
            background-image: url("{% static 'images/fundo5.jpg' %}");
        }
    </style>

</head>


<header>

    <body class="css-body">
        <nav class="navbar navbar-expand-sm navbar-light font-weight-bold bg-transparent">
            <a class="navbar-brand" href="{% url 'core:home' %}">
                <img src="{% static 'logo_genesisq.png' %}" width="60" />
            </a>
            {% if user.is_authenticated %}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciar Placas
                        </a>
                        <div class="dropdown-menu m-auto" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href=" {% url 'placas:lista-placa' %} "><i
                                    class="fas fa-microchip"> </i> Placas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=" {% url 'placas:lista-modelo' %} "><i
                                    class="fas fa-palette"></i> Modelos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=" {% url 'placas:lista-lote' %}"><i
                                    class="fas fa-layer-group"></i> </i> Lotes</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'requisicao:requisicao1' %}">Requisição</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Testes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for teste in lista_testes %}
                            <a class="dropdown-item" href="{% url 'testes:testes1' teste.Caminho %}">
                                <i class="fas fa-tasks"> </i> {{ teste.Nome }}
                            </a>

                            <div class="dropdown-divider"></div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Indicadores
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for indicador in Menu_indicadores %}
                            <a class="dropdown-item" href=" {% url 'indicadores:indicadores1' indicador.Caminho %} ">

                                {% if indicador.Nome == "Visão Macro" %}
                                <i class="fas fa-table"></i>
                                {% else %}
                                <i class="far fa-chart-bar"></i>
                                {% endif %}
                                {{ indicador.Nome }}
                            </a>
                            <div class="dropdown-divider"></div>
                            {% endfor %}
                        </div>
                    </li>

                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 15px;">
                        <i class="fas fa-user " alt="foto do usuário"></i>
                        Olá, {{ user }}
                        </a></button>
                    <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                        {% if user.tipo == 'A' %}
                        <a class="dropdown-item" href="{% url 'restrito:home_administrador'  %}"><i
                                class="fas fa-id-card"></i> Área do
                            Administrador</a>
                        <a class="dropdown-item" href="/admin"><i class="fas fa-cog"></i> Administração do site</a>
                        {% elif user.tipo == 'S' %}
                        <a class="dropdown-item" href="{% url 'restrito:home_supervisor' %}"><i
                                class="fas fa-id-card"></i> Área do Supervisor</a>
                        {% elif user.tipo == 'T' %}
                        <a class="dropdown-item" href="{% url 'restrito:home_tester' %}"><i class="fas fa-id-card"></i>
                            Área do Tester</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'restrito:home_requisitor' %}"><i
                                class="fas fa-id-card"></i> Área do Requisitor</a>
                        {% endif%}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'core:sair' %}"><i class="fas fa-power-off"></i>
                            Sair</a>
                    </div>
                </div>
                {% else %}
                <a class="navbar-brand" href="{% url 'core:home' %}">GenesisQ</a>
                <ul class="navbar-nav ml-auto">
                    <a role="button" href="{% url 'core:entrar' %}" class="btn btn btn-success">Entrar</a>
                </ul>
                {% endif %}
        </nav>
</header>



<main>
    {% for mensagem in messages  %}
    {% if mensagem %}
    <div class="alert alert-primary" role="alert">
        {{mensagem}}
    </div>
    {% endif %}
    {% endfor %}
    </br></br></br></br></br>


    <div class="container-fluid">

        <div class="row">

            {% block conteudo %}
            {% endblock conteudo %}
            {% if 'restrito' in request.path %}
            

                <img src="{% static 'restrito/images/profile-fundo.png' %}" alt="img" class="img-restrito">
            
            {% endif %}
        </div>
    </div>
</main>
</body>
<footer>
    <hr />
    <p class="text-center">Todos os direitos reservados HAUTZ - TECHNOLOGY 2019</p>
</footer>

</html>