{% extends "base.html" %}

{% block titulo %} Área do Tester {% endblock titulo %}



{% block conteudo %}

<h2> Olá, {{ test.nome }} </h2>

<p class="col-md-10 col-md-offset-2" > Suas funções </p>
<p class="col-md-10">- Realizar Testes</p>
<p class="col-md-10">- Visualizar Testes</p>
<p class="col-md-10">- Visualizar Indicadores</p>

<div class="container-fluid">
    <button type="button" class="btn btn-primary center">
        Requisições pendentes <span class="badge badge-light">4</span>
    </button>
</div>
{% endblock conteudo %}

