{% extends "base.html" %}

{% block conteudo %}

  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Exclusão de Placa</h5>

        <p class="card-text">
          Você tem certeza que quer excluir a placa:
          
          <b>{{ placa.Modelo }}</b>?
          
          
        </p>

        <form method="post">
          {% csrf_token %}

          <hr />
          <div class="text-right">
            <a href="{% url 'placas:lista-placa' %}" 
              class="btn btn-outline-danger">
                Cancelar
            </a>
            <button class="btn btn-danger">Excluir</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock conteudo %}
